.body_wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.el_items {
  background: rgba(128, 128, 128, .6);
}

.el_leftBox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.left_item, .right_item {
  flex-grow: 1;
  margin: 5px;
  border: 1px solid #000000
}

.el_middleBox {
  flex-grow: 2;
  margin: 0 8px;
}

.el_rightBox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* 左右分栏 */
.menu_left {
  flex-grow: 1;
  /* border: 1px solid red */
}

.content_wrapper {
  flex-grow: 6;
  /* border: 1px solid yellow */
}

.menuBox>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuBox>ul>li {
  margin: 0;
  padding: 0;
  list-style: none;
  /* height: 40px;
  line-height: 40px */
}

.menuBox>ul>li:hover {
  background-color: rgba(120, 120, 120, 0.8);
  transition: all .8s ease;
}

/* 菜单激活状态 */
.activeItem {
  background-color: rgba(120, 120, 120, 0.8)
}
/* 右边菜单栏 */
.menu_left {
  background-color: rgba(0, 63, 79, 1);
  /* background-image: url('../images/index_bg.png') no-repeat;
  background-size: 100% 100% */
}
